{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'star-rating.css' | asset_url | stylesheet_tag }}

{% assign avg_rating = block.settings.product.metafields.prapp.avg_rating | plus: 0 %}
{% assign reviews = block.settings.product.metafields.prapp-pub-reviews %}

<div class="prapp-block" style="padding: {{ block.settings.padding_y }}px {{ block.settings.padding_x }}px;" data-product-id="{{ block.settings.product.id }}">
  {% if reviews != blank %}
    <div class="prapp-review">
      <ul class="prapp-review__list">
        {% for key_value in reviews %}
          {% assign review = key_value[1] %}
          <li class="prapp-review__list-item">
            {% assign rating = review.rating | plus: 0 %}
            {% render "star-rating", rating: rating, fill: block.settings.stars_fill_color, size: block.settings.star_size %}
            <h3 class="prapp-review__list-item-meta-headline">{{ review.title }}</h3>
            <div>
              <p>{{ review.body }}</p>
            </div>
            <div class="prapp-review__list-item-meta">
              <p>
                <b>{{ review.name }}</b>
                on
                <b>{{ review.created_at | date: "%b %d, %Y" }}</b>
              </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>


{% schema %}
{
  "name": "Product Reviews-2",
  "templates": ["product"],
  "target": "section",
  "settings": [
    {
      "type": "color",
      "id": "demos2_fill_color",
      "label": "demo color",
      "default": "#ffccff"
    }
  ]
}
{% endschema %}
